.app {
  display: flex;
  flex: 1;
  height: 70vh;
  margin: 10px;
  /* align-items: center; */
  justify-content: center;
  background-color: red;
  gap: 1px;
}

.editSpace {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid rgb(11, 11, 11);

}

.styleSpace {
  display: flex;
  flex: 1;
  background-color: chocolate;
  flex-direction: column;
  border: 1px solid rgb(6, 20, 1);

}